
body{
  background: #96CCDD;
  font-family: 'Merriweather', serif;
  height: 100%;
}
#title{
	height: 40px;
	margin-top: 20px;
	margin-left: -10px;
}

#title2{
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
}

#title2 a{
	color: white;
}

#instructions, #help, #team, #end{
	text-align: center;
	font-size: 1.5em;
	margin-top: 20px;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.icon:hover{
	background-color: rgb(102, 142, 153);
}

#score{
	font-family: 'Merriweather', serif;
	color: #DE7087;
	font-size: 40px;
}

.right{
	color: #8EF883;
}

.wrong{
	color: #DE7087;
}

.score{
	font-family: 'Merriweather', serif;
	color: white;
	text-align: center;
	font-size: 40px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 260px;
	background-color: rgb(102, 142, 153);
	border-radius: 5px;
}
.green{
	color: #8EF883!important;
}

p{
	font-size: 14px;
	color: white;
}

.row2{
	padding-top: 50px;
}

.in_cart img, .out_cart img{
	height: 150px;
	width: 150px;
}



.ppm{
	margin: 0 auto;
}

/*#borderline{
	height: 150px;
	width: 100%;
	position: relative;
	border: 5px solid white;
	border-radius: 5px;
	background-color: rgb(102, 142, 153);
}

.answer{
	margin: 3%;
	text-align: center;
	color: white;
	height: 100%;
	font-family: 'Merriweather';
	font-size: 18px;
}*/

/*.meter{
	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
	position: absolute;
	top: -5px;
	left:0;
	height: 100%;
	width: 0px;
	opacity: 1;
	border-top: 5px #DE7087 solid;
}

.meter_title{
	color: #DE7087;
	font-size: 18px;
	position: absolute;
	top:33px;
	left:3px;
}*/

#candies{
	padding-top: 8%;
	position: relative;
	bottom: 0;
}

.soc{
	height: 50px;
}
.candy {
	position: absolute;
}

#one {
	 left: 20%;
	 height: 200px;
	 width: auto;
}


#two{
	left: 25%;
	top: -10px;
	height: auto;
	width: 200px;
}


#three{
	left: 35%;
	top: -20px;
	height: 130px;
	width: auto;
}



#four{
	left: 40%;
	height: 150px;
	width: auto;
	top: -34px;
}



#five{
	left: 34%;
	height: 150px;
	width: auto;
}



#six{
	top: -10px;
	left: 42%;
}

#seven{
	left: 70%;
	height: 180px;
}

#eight{
	top: -33px;
	left: 28%;
	height: 200px;
}

#nine{
	left: 43%;
	height: 200px;
}

#ten{
	left: 30%;
	height: 130px;
	width: auto;
}


#eleven{
	top: -27px;
	left: 50%;
	height: 200px;
}

#twelve{
	top: -20px;
	left: 40%;
	height: 180px;
	width: auto;
}

#thirteen{
	left: 62%;
	height: 180px;
}



#fourteen{
	top: -10px;
	left: 65%;
	height: 180px;
}

#fifteen{
	height: 220px;
	top: -5px;
	left: 45%;
}

#sixteen{
	height: 180px;
	left: 60%;
}

#seventeen{
	height: 180px;
	width: auto;
	left: 30%;
}

#eighteen{
	height: 220px;
	width: auto;
	top: -10px;
	left: 22%;
}

#nineteen{
	height: 200px;
	width: auto;
	top: -35px;
	left: 35%;
}

#twenty{
	left: 55%;
}

.sizing {
	height: 120px!important;
}

.logo{
	position: fixed;
	height: 75px;
	width: auto;
	bottom: 20px;
	right: 20px;
}

.smaller{
	font-size: 20px;
}

/* Modal */

.modal-content {
	background-color: #a5bcdb;
	border: solid 10px white;
	text-align: center;
	color: white;
}

.modal-header {
	border-bottom: none;
}

.modal-subtitle {
	font-size: 12px!important;
	font-weight: 300;
}
.note{
	font-size: 10px;
}

.note a{
	color: white;
}

.modal-body{
	padding-top: 0px;
	padding-bottom: 0px;
}

.body-instructions{
	font-size: 16px!important;
	text-align: justify;
}

.body-help{
	font-size: medium;
	font-weight: 300;
}

.bio_pic{
	width:130px;
	height:auto;
	float: left;
	margin-right: 10px;
}

.info_pic{
	float: left;
}

.info-text{
	float: right;
	text-align: justify;
}

.bio-text{
	text-align: justify;
}

.forpadding{
	padding: 0px;
}

.info_border{
	padding-top: 10px;
	margin-bottom:20px ;
	border: 5px solid white;
	border-radius: 5px;
}

.extra_margin{
	margin-top: 30px;
}

.margin-top{
	margin-top: -60px;
}
hr{
	clear: left;
}

.modal-body p{
	font-size: 15px;
	font-weight: 300;
}

.app_screenshot{
	width:100%;
	height:auto;
	border-radius: 5px;
	border: white solid 5px;
	margin-bottom: 10px;
}

#not_for_mobile{
	text-align: center;
	color: white;
	font-family: 'Merriweather';
	font-size: 3.5em;
	font-weight: 400;
}
.not_for_mobile_pic{
  -webkit-animation: swim 3s infinite;
  animation: swim 3s infinite;
}

.purple{
	background-color: #B6B0CF;
}

#score-final{
	font-size: 20px;
	font-weight: 400;
}

/*Final modal*/
#myModal4{
	height: 100%;
	width: 100%;
}
#myModal4 > div{
	height: 100%;
	width: 100%;
}
#myModal4 .modal-content{
	height: 100%;
	width: 100%;
	background-color: #a5bcdb;
}

#myModal4 .modal-dialog{
/*	opacity: 0.8;
*/	margin: 0;
}


/*receipt*/
#slot{
  border: 5px solid black;
  border-radius: 5px;
  width: 100%;
  position: relative;
}

#paper-holder{
    position:absolute;
    overflow:hidden;
    height:0;
    top:3px;
    left:0;
    right:0;
    -ms-transition:height 3s linear;
    -moz-transition:height 3s linear;
    -webkit-transition:height 3s linear;
    -0-transition:height 3s linear;
    transition:height 3s linear;
}

#paper{
     font-family: 'merchant_copy_wideregular';
    color: black;
    position:absolute;
    width:96%;
    overflow-y: scroll;
    overflow-x: hidden;
    left:5px;
    bottom:10px;
    height:540px;
    line-height:30px;
    text-align:center;
    background-color:white;
    padding-bottom: 20px;
    border:1px solid #ccc;
    -moz-box-shadow: 10px 10px  10px rgba(0,0,0,0.5);
		-webkit-box-shadow: 10px 10px  10px rgba(0,0,0,0.5);
		box-shadow: 10px 10px 10px rgba(0,0,0,0.5);

    border-top:0;
}
#paper-holder.print{
    height:540px;
}

#codebar{
  width: 150px;
  height: 30px;
}

.codebar-cont{
  text-align: center;
   border-top: 2px grey dotted;
   width: 300px;
   padding-top: 10px;
   margin: 0 auto;
}

.item{
  list-style: none;
}

#items{
  margin-left: 60px;
  text-align: left;
  width: 450px;
}

thead{
  width: 63%;
  background-color: rgba(102, 142, 153, .5)
}


@-webkit-keyframes swim {
  0% {
    -webkit-transform: translateY(-50px) translateX(0) rotate(100deg);
    transform: translateY(-50px) translateX(0) rotate(100deg);
  }
  25% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(90deg);
    transform: translateY(50px) translateX(100px) rotate(90deg);
  }
  50% {
    -webkit-transform: translateY(100px) translateX(400px);
    transform: translateY(100px) translateX(400px);
  }
  75% {
    -webkit-transform: translateY(50px) translateX(250px) rotate(-90deg);
    transform: translateY(50px) translateX(250px) rotate(-90deg);
  }
  100% {
    -webkit-transform: translateY(-170px) translateX(-300px) rotate(-110deg);
    transform: translateY(-170px) translateX(-300px) rotate(-100deg);
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
.answer{
	font-size: 12px;
	}
}
