
body{
  background: #96CCDD;
  font-family: 'Merriweather', serif;
  height: 100%;
}
#title{
	height: 40px;
	margin-top: 20px;
	margin-left: -10px;
}

#title2{
	color: white;
	font-family: 'Merriweather', serif;
	font-size: 1.5em;
}

#title2 a{
	color: white;
}

#instructions, #help, #team, #end{
	text-align: center;
	font-size: 1.5em;
	margin-top: 20px;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.icon:hover{
	background-color: rgb(102, 142, 153);
}

#score{
	font-family: 'Merriweather', serif;
	color: #DE7087;
	font-size: 40px;
}

.right{
	color: #8EF883;
}

.wrong{
	color: #DE7087;
}

.score{
	font-family: 'Merriweather', serif;
	color: white;
	text-align: center;
	font-size: 40px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 260px;
	background-color: rgb(102, 142, 153);
	border-radius: 5px;
}
.green{
	color: #8EF883!important;
}

p{
	font-size: 14px;
	color: white;
}

.row2{
	padding-top: 50px;
}

.has_lead img, .has_no_lead img{
	height: 150px;
	width: 150px;
}

.ppm{
	margin: 0 auto;
}

#borderline{
	height: 150px;
	width: 100%;
	position: relative;
	border: 5px solid white;
	border-radius: 5px;
	background-color: rgb(102, 142, 153);
}

.answer{
	margin: 3%;
	text-align: center;
	color: white;
	height: 100%;
	font-family: 'Merriweather';
	font-size: 20px;
}

.meter{
	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
	position: absolute;
	top: -5px;
	left:0;
	height: 100%;
	width: 0px;
	opacity: 1;
	border-top: 5px red solid;
}

#candies{
	padding-top: 8%;
	position: relative;
	bottom: 0;
}

.candy {
	position: absolute;
}

#one {
	 left: 20%;
	 height: 200px;
	 width: auto;
}


#two{
	left: 25%;
	top: -10px;
	height: auto;
	width: 200px;
}


#three{
	left: 35%;
	top: -20px;
	height: 130px;
	width: auto;
}



#four{
	left: 40%;
	height: 150px;
	width: auto;
	top: -34px;
}



#five{
	left: 34%;
	height: 150px;
	width: auto;
}



#six{
	top: -10px;
	left: 42%;
}

#seven{
	left: 70%;
	height: 180px;
}

#eight{
	top: -33px;
	left: 28%;
	height: 200px;
}

#nine{
	left: 43%;
	height: 200px;
}

#ten{
	left: 30%;
	height: 130px;
	width: auto;
}


#eleven{
	top: -27px;
	left: 50%;
	height: 200px;
}

#twelve{
	top: -20px;
	left: 40%;
	height: 180px;
	width: auto;
}

#thirteen{
	left: 62%;
	height: 180px;
}



#fourteen{
	top: -10px;
	left: 65%;
	height: 180px;
}

#fifteen{
	height: 220px;
	top: -5px;
	left: 45%;
}

#sixteen{
	height: 180px;
	left: 60%;
}

#seventeen{
	height: 180px;
	width: auto;
	left: 30%;
}

#eighteen{
	height: 220px;
	width: auto;
	top: -10px;
	left: 22%;
}

#nineteen{
	height: 200px;
	width: auto;
	top: -35px;
	left: 35%;
}

#twenty{
	left: 55%;
}

.sizing {
	height: 120px!important;
}

.logo{
	position: absolute;
	height: 75px;
	width: auto;
	bottom: 20px;
	right: 20px;
}

.smaller{
	font-size: 20px;
}

/* Modal */

.modal-content {
	background-color: #a5bcdb;
	border: solid 10px white;
	text-align: center;
	color: white;
}

.modal-header {
	border-bottom: none;
}

.modal-subtitle {
	font-size: 12px;
	font-weight: 300;
}
.note{
	font-size: 10px;
}

.note a{
	color: white;
}

.modal-body{
	padding-top: 0px;
	padding-bottom: 0px;
}

.body-instructions{
	font-size: 15px;
}

.body-help{
	font-size: medium;
	font-weight: 300;
}

.bio_pic{
	width:130px;
	height:auto;
	float: left;
	margin-right: 10px;
}

.info_pic{
	float: left;
}

.info-text{
	float: right;
	text-align: justify;
}

.bio-text{
	text-align: justify;
}

.forpadding{
	padding: 0px;
}

.info_border{
	padding-top: 10px;
	margin-bottom:20px ;
	border: 5px solid white;
	border-radius: 5px;
}

.extra_margin{
	margin-top: 30px;
}

.margin-top{
	margin-top: -60px;
}
hr{
	clear: left;
}

.modal-body p{
	font-size: 15px;
	font-weight: 300;
}

.app_screenshot{
	width:100%;
	height:auto;
	border-radius: 5px;
	border: white solid 5px;
	margin-bottom: 10px;
}

#not_for_mobile{
	text-align: center;
	color: white;
	font-family: 'Merriweather';
	font-size: 3.5em;
	font-weight: 400;
}
.not_for_mobile_pic{
  -webkit-animation: swim 3s infinite;
  animation: swim 3s infinite;
}

@-webkit-keyframes swim {
  0% {
    -webkit-transform: translateY(-50px) translateX(0) rotate(100deg);
    transform: translateY(-50px) translateX(0) rotate(100deg);
  }
  25% {
    -webkit-transform: translateY(50px) translateX(100px) rotate(90deg);
    transform: translateY(50px) translateX(100px) rotate(90deg);
  }
  50% {
    -webkit-transform: translateY(100px) translateX(400px);
    transform: translateY(100px) translateX(400px);
  }
  75% {
    -webkit-transform: translateY(50px) translateX(250px) rotate(-90deg);
    transform: translateY(50px) translateX(250px) rotate(-90deg);
  }
  100% {
    -webkit-transform: translateY(-170px) translateX(-300px) rotate(-110deg);
    transform: translateY(-170px) translateX(-300px) rotate(-100deg);
  }
}
